<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ stats[0].race }}/{{ stats[0].class }}/{{ stats[0].homeland }}</title>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load('visualization', '1', {packages: ['table', 'corechart']});</script>
		<script type="text/javascript">

function drawStatsTable() {
	// Create and populate the data table.
	var data = google.visualization.arrayToDataTable([
		['Submitted', 'Race', 'Class', 'Sex', 'Homeland', 'Strength', 'Intelligence', 'Willpower', 'Dexterity', 'Constitution', 'Sum'],
		{% for stat in stats %}
		{{ stat|safe }}
		{% endfor %}
	]);
	visualization = new google.visualization.Table(document.getElementById('stat_table'));
	visualization.draw(data, {showRowNumber: true});
}

function drawCalcsTable() {
	var data = google.visualization.arrayToDataTable([
		['','Strength','Intelligence','Willpower','Dexterity','Constitution','Sum'],
		{{ info.min|safe }}
		{{ info.max|safe }}
		{{ info.avg()|safe }}
	]);
	visualization = new google.visualization.Table(document.getElementById('calcs_table'));
	visualization.draw(data, null);
}

function drawSumsChart() {
	var data = google.visualization.arrayToDataTable([
		['sum','count'],
		{% for (k, v) in info.stat_counts.sum %}
		[{{ k }}, {{ v }}],
		{% endfor %}
	]);
	new google.visualization.LineChart(document.getElementById('sums_chart')).
		draw(data, {
			curveType: "function",
			title: 'statsum',
			vAxis: { title: 'number of stats' }
		}
	);
}

function drawPhysicalsChart() {
	var data = google.visualization.arrayToDataTable([
		['stat','str','dex','con'],
		{{ info.physicals() }}
	]);
	new google.visualization.LineChart(document.getElementById('physicals_chart')).
		draw(data, {
			curveType: "function",
			title: 'physicals',
			vAxis: { title: 'number of stats'}
		}
	);
}

function drawMentalsChart() {
	var data = google.visualization.arrayToDataTable([
		['stat','int','wil'],
		{{ info.mentals() }}
	]);
	new google.visualization.LineChart(document.getElementById('mentals_chart')).
		draw(data, {
			curveType: "function",
			title: 'mentals',
			vAxis: { title: 'number of stats' }
		}
	);
}
google.setOnLoadCallback(drawSumsChart);
google.setOnLoadCallback(drawStatsTable);
google.setOnLoadCallback(drawCalcsTable);
google.setOnLoadCallback(drawPhysicalsChart);
google.setOnLoadCallback(drawMentalsChart);
google.setOnLoadCallback(drawChart);
		</script>
		<style>
			td { text-align: center; }
		</style>
	</head>
	<body style="font-family: Arial;border: 0 none;">
	<table width="100%">
		<tr>
			<td colspan="3" style="width: 100%; text-align: center;">
				<h1>{{ stats[0].race }}/{{ stats[0].class }}/{{ stats[0].homeland }}</h1>
				<p>Out of {{ num_stats }} stats</p>
				<p><a href="{{ stats[0].homeland }}.csv">csv</a>  <a href="{{ stats[0].homeland }}.json">json</a></p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; width: 33%;">
				<div id="physicals_chart"></div>
			</td>
			<td style="text-align: center; width: 33%;">
				<div id="mentals_chart"></div>
			</td>
			<td style="text-align: center; width: 33%;">
				<div id="sums_chart"></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: center; width: 100%; padding-bottom: 1rem;">
				<div id="calcs_table"></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width: 100%; text-align: center;">
				<h3>last {{ stats.len() }} stats</h3>
				<div id="stat_table"></div>
			</td>
		</tr>
	</table>
	</body>
</html>
