<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WoTMud Stats</title>
	</head>
	<body style="font-family: Arial;border: 0 none;">
		<h1>WoTMud Stats</h1>
		<p>Data is from <a href="https://wotcode.azurewebsites.net/stats">WoTCode</a></p>
		<p>{{ count }} stats, updated {{ ts }}</p>
		<table style="width: 100%;"><tr style="vertical-align: top;">
			{%- for (rname, race) in races %}
			<td>
				<h2>{{ rname }}</h2>
				{% for (cname, class) in race -%}
				<h3>{{ cname }}</h3>
				<ul>
					{%- for (hname, homeland) in class %}
					<li><a href="{{ rname|e }}/{{ cname|e }}/{{ hname }}.html">{{ hname }}</a> ({{ homeland.len() }})</li>
					{%- endfor %}
				</ul>
				{%- endfor %}
			</td>
			{%- endfor %}
		</table>
	</body>
</html>
